.search-section {
  align-items: center;
  background: url(../../assets/bg.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
}

.search-section input {
  background: rgba(0, 0, 0, 0.7);
  border: 0;
  border-radius: .1em;
  color: #f0f0f0;
  font-size: 24px;
  padding: 0.5em 0.5em 0.5em 1em;
  outline: 0;
}
