.spot-card {
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  margin: .5em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.spot-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.spot-card a {
  text-decoration: none;
  color: #000;
}

.spot-card-name {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  transform: translate(3%, -150%);
}

.spot-card-info {
  font-size: 14px;
  padding: .5em;
}

.spot-card-rating {
  display: flex;
  justify-content: flex-end;
}